<%- include('partials/header') %>

<h1>Welcome to Naivas Shopping List MVP</h1>
<p>This is a simple proof of concept to test shopping lists and feedback flow.</p>

<nav>
  <ul>
    <li><a href="/shopping-list/1">View Shopping List (User 1)</a></li>
    <li><a href="/shopping-list/2">View Shopping List (User 2)</a></li>
  </ul>
</nav>

<%- include('partials/footer') %>
