
body {
  background-color: #fff;
}

.centered {
  padding-top: 50px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.daily-total {
  background-color: #ffeeba; /* light yellow */
  font-weight: bold;
  border-top: 2px solid #444;
}

.header {
  margin: 3rem;
}

.autocomplete-suggestions { 
  border: 1px solid #ccc; 
  max-height: 150px; 
  overflow-y: auto; 
}

.suggestion-item { 
  padding: 5px; 
  cursor: pointer; 
}

.suggestion-item:hover { 
  background: #eee; 
}
